<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="/static/js/index.js"></script>
<title>Examen</title>
</head>
<body bgcolor=#FF800>

<center><h1>Recuperacion de Examen Dispositivos Embebidos </h1></center>
<center>
	<img src="/static/images/SelloU.png"  width="175" height="175" align="left"></img>
	<img src="/static/images/EyT.png"  width="175" height="175" align="right"></img>
	<h1>Universidad Nacional de Chimborazo</h1>
	<h2>Electronica y Telecomunicaciones</h2>
	<h3>Suma y Resta de dos numeros</h3>
	<h4>Ingrese dos numeros:</h4>
	<input type="number" id="num1" name="num1"><br><br>
	<input type="number" id="num2" name="num2"><br><br>
	<button id = 'suma'type="button" onclick="suma()">
	SUMA!</button>
	<button id = 'resta' type="button" onclick="resta()">
	RESTA!</button>
	<h5>RESULTADO: </h5>
	<input type="number" id="resu" name="resul">
</center>
<script>

</script>
</body>
</html>
